<%= stylesheet_link_tag "colorPicker",  :media => "all" %>
<%= javascript_include_tag "jquery.colorPicker" %>

<script type="text/javascript">

  jQuery(document).ready(function($) {
    $('#category_color').colorPicker();
  });
</script>



<%= simple_form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, :input_html =>{:required => "required"} %>
  <%= f.input :color, :input_html =>{:required => "required"} %>
  <br>
  <%= f.button :submit, :class => 'btn btn-primary' %>

<% end %>
