<h1>Listing products</h1>

<table class="table table-condensed table-bordered table-striped">
  <tr>
    <th>Name</th>    
    <th>Qty</th>
    <th>Price</th>
    <th>On sale</th>
    <th>Sale price</th>
    <th>Category</th>    
    <th></th>    

  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= link_to product.name , admin_product_path(product) %></td>
    <td><%= product.qty %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td><%= product.on_sale %></td>
    <td><%= number_to_currency(product.sale_price )%></td>
    <td><%= product.category.name %></td>
    <td>
        <%= link_to 'Show', admin_product_path(product), :class =>"btn btn-mini btn-info" %>
        <%= link_to 'Edit', edit_admin_product_path(product), :class =>"btn btn-mini" %>
        <%= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn btn-mini btn-danger" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_admin_product_path, :class => 'btn btn-primary'%>

<%= paginate @products %>