<%= simple_form_for(@product)  do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.input :name, :input_html =>{:required => "required"} %>
   <%= f.input :picture, :as => :file, :label => "Picture"%>
   <%= f.input :description, :input_html =>{:required => "required"} %>
   <%= f.input :qty, :input_html =>{:required => "required", :min=>"1"} %>
   <%= f.input :price, :input_html =>{:required => "required", :min=>"1"} %>
   <%= f.input :on_sale, :input_html =>{:required => "required"} %>
   <%= f.input :sale_price, :input_html =>{:required => "required", :min=>"1"} %>
   <%= f.association :category, :collection => Category.all(:order => 'name'), :include_blank => false, :label => 'Select Category'  %>   
   <%= f.button :submit %>


<% end %>
