<div id="header">
    <div id="page-title">
      <h1>
        <a href="/">
          <strong>My eCommerce</strong>
        </a>
      </h1>
      <h3><em>Your Staunch Store</em></h3>
    </div>
    <ol id="main-nav">
      <li class="with-dropdown"><a href="#" title="">Catalog</a>
        <ul>
           <%= print_categories %>
        </ul>
      </li>
      
      <li><%= link_to "My Cart", cart_path(current_or_guest_user.my_cart)%></a></li>      
      <li><%= link_to "About Us", about_path %></a></li>           
      <% if can? :manage, :all %>
      <li><%= link_to "Admin", admin_path %></a></li>
      <% end %>
      
    
    </ol>    
    <p id="utility">
    
      <span class="customer">
        <% if user_signed_in? %>
          <%= image_tag current_user.avatar.url(:thumb) if current_user.avatar.path %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
        <% end %>      
      </span>    

      <%= link_to cart_path(current_or_guest_user.my_cart), :class => "cart" do %> 
        <span><i><em>items</em> <%=current_or_guest_user.my_cart.cart_count%></i> <b><%=number_to_currency(current_or_guest_user.my_cart.cart_price)%></b></span>
      <%end%>      
    </p>

   <div id="search-results">





     
    <form action="/search" method="get" id="search-2">
      <p>          
          <input type="search" id="searchtext-2" name="q" value="" class="">
          <input id="searchbutton-2" type="image" src="http://cdn.shopify.com/s/files/1/0108/3862/t/4/assets/c7-search-btn.gif?0" alt="Search">
          
      </p>
    </form>

</div>
    
  </div>